@import "tailwindcss";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --header-height: 4rem;

    --left-toolbar-width: 18rem;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html {
    font-size: 16px;
}


@media (prefers-color-scheme: light) {
    :root {
    }
}
/* df-messenger {
    --df-messenger-bot-message: #f4f4f4;
    --df-messenger-button-titlebar-color: #4a90e2;
    --df-messenger-chat-background-color: #ffffff;
    --df-messenger-font-color: #000000;
    --df-messenger-send-icon: #4a90e2;
    --df-messenger-user-message: #4a90e2;
}


